In [14]:
# This is d05.py
import pandas as pd
ufo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv')

In [15]:
ufo.head

<bound method NDFrame.head of                        City Colors Reported Shape Reported State  \
0                    Ithaca             NaN       TRIANGLE    NY
1               Willingboro             NaN          OTHER    NJ
2                   Holyoke             NaN           OVAL    CO
3                   Abilene             NaN           DISK    KS
4      New York Worlds Fair             NaN          LIGHT    NY
...                     ...             ...            ...   ...
18236            Grant Park             NaN       TRIANGLE    IL
18237           Spirit Lake             NaN           DISK    IA
18238           Eagle River             NaN            NaN    WI
18239           Eagle River             RED          LIGHT    WI
18240                  Ybor             NaN           OVAL    FL

                   Time
0        6/1/1930 22:00
1       6/30/1930 20:00
2       2/15/1931 14:00
3        6/1/1931 13:00
4       4/18/1933 19:00
...                 ...
18236  12/31/2000 23:00
18237  12/31/2000 23:00
18238  12/31/2000 23:45
18239  12/31/2000 23:45
18240  12/31/2000 23:59

[18241 rows x 5 columns]>

In [16]:
ufo.shape

(18241, 5)

In [17]:
ufo.drop('Colors Reported',axis=1,inplace=True)

In [18]:
ufo.head

<bound method NDFrame.head of                        City Shape Reported State              Time
0                    Ithaca       TRIANGLE    NY    6/1/1930 22:00
1               Willingboro          OTHER    NJ   6/30/1930 20:00
2                   Holyoke           OVAL    CO   2/15/1931 14:00
3                   Abilene           DISK    KS    6/1/1931 13:00
4      New York Worlds Fair          LIGHT    NY   4/18/1933 19:00
...                     ...            ...   ...               ...
18236            Grant Park       TRIANGLE    IL  12/31/2000 23:00
18237           Spirit Lake           DISK    IA  12/31/2000 23:00
18238           Eagle River            NaN    WI  12/31/2000 23:45
18239           Eagle River          LIGHT    WI  12/31/2000 23:45
18240                  Ybor           OVAL    FL  12/31/2000 23:59

[18241 rows x 4 columns]>

In [19]:
ufo.drop(['City','State'],axis=1,inplace=True)

In [21]:
ufo.head

<bound method NDFrame.head of       Shape Reported              Time
0           TRIANGLE    6/1/1930 22:00
1              OTHER   6/30/1930 20:00
2               OVAL   2/15/1931 14:00
3               DISK    6/1/1931 13:00
4              LIGHT   4/18/1933 19:00
...              ...               ...
18236       TRIANGLE  12/31/2000 23:00
18237           DISK  12/31/2000 23:00
18238            NaN  12/31/2000 23:45
18239          LIGHT  12/31/2000 23:45
18240           OVAL  12/31/2000 23:59

[18241 rows x 2 columns]>

In [22]:
ufo.drop([0,1],axis=0,inplace=True)

In [23]:
ufo.head

<bound method NDFrame.head of       Shape Reported              Time
2               OVAL   2/15/1931 14:00
3               DISK    6/1/1931 13:00
4              LIGHT   4/18/1933 19:00
5               DISK   9/15/1934 15:30
6             CIRCLE    6/15/1935 0:00
...              ...               ...
18236       TRIANGLE  12/31/2000 23:00
18237           DISK  12/31/2000 23:00
18238            NaN  12/31/2000 23:45
18239          LIGHT  12/31/2000 23:45
18240           OVAL  12/31/2000 23:59

[18239 rows x 2 columns]>

In [24]:
ufo.shape

(18239, 2)